<div class="description">
	<div>
		<h2>ORCID API</h2>
		<p>The ORCID API will help your organization to link your user profiles with their ORCID record; this link will give you the ability to do things like authenticating the user ORCID, reading information from the ORCID record, updating the users record and being up to date with the latest updates the user does to the ORCID record</p>
		<h3>If you are a:</h3>
		<div class="types">		
			<div id="" class="">Editor</div>
			<div id="" class="">Funding agency</div>
			<div id="" class="">University</div>					
			<div id="" class="">Other organization</div>
		</div>
		<div id="descriptions">
			<div id="" class="university description">
				<h1>Universities</h1>
				<ul>
					<li>ORCID will help you create new ORCID id's for your teachers or students</li>
					<li>When someone ends a thesis, the ORCID id can be added to the publication and the publication can be added to the ORCID record</li>
					<li>When another system or repository updates the ORCID record, the API will help you to acknowledge that change and synchronize your system with the latest changes</li>
				</ul>				
			</div>
			
			<div id="" class="editor description">
				<h1>Editors</h1>
				<ul>
					<li>Sent: The API will help you to obtain the ORCiD and the biographical information from authors</li>
					<li>Revision: The API will help you to obtain the ORCiD, the biographical information and the activities list of the reviewers</li>
					<li>Production: Include the ORCiD in the publication metadata and in the publication</li>
					<li>Publication: Update the ORCID record of the author and the reviewer</li>
				</ul>
			</div>
			
			<div id="" class="funding description">
				<h1>Funding agencies</h1>
				<ul>
					<li>Applications: The API will help you to obtain the ORCiD and the biographical information from applicants</li>
					<li>Revision: The API will help you to obtain the ORCiD, the biographical information and the activities list of the reviewers</li>
					<li>Awards and recognitions: Update the ORCID record of the awarded and the reviewer</li>
				</ul>
			</div>
			
			<div id="" class="other description">
				<h1>Others</h1>
				<ul>
					<li>The API will facilitate the creation of new iD's</li>
					<li>The API will help you to store and show the iD of the researcher in your system</li>
					<li>The API will help you to synchronize the biographical information between different systems</li>
					<li>The API will help you to synchronize the researcher activities between different systems</li>
				</ul>
			</div>
		</div>
	</div>
</div>