<div class="technologies">
	<div>
		<h2>ORCID API - Getting the authorization code</h2>
		<p>Here, we ask the user for permissions over his ORCID record</p>
		<div>
			Client ID: <input type="text" name="client_id" ng-model="form.client_id"/><br />
			<input type="radio" name="scope" ng-model="form.scope" value="/authenticate"> Authenticate Orcid<br />
			<input type="radio" name="scope" ng-model="form.scope" value="/activities/read-limited"> Read activities<br />
			<input type="radio" name="scope" ng-model="form.scope" value="/activities/update"> Read update<br />			
			<button id="submit" ng-click="getCode()">Get code</button> 
		</div>
	</div>
</div>