<div class="technologies">
	<div>
		<h2>ORCID API - Technologies</h2>
		<p>Technologies</p>		
		<ul>
			<li><a href="http://www.restapitutorial.com/lessons/whatisrest.html" target="_blank">REST</a> interact w/API via HTTP calls</li>
			<li><a href="http://members.orcid.org/api/tokens-through-3-legged-oauth-authorization" target="_blank">OAuth “3-legged”</a> authorization process</li>
			<li><a href="http://www.w3.org/XML/" target="_blank">XML</a>/<a href="http://www.json.org/" target="_blank">JSON</a> data exchange</li>
		</ul>								
	</div>
</div>